body {
    font-family: Helvetica;
}

figcaption {
    font-weight: bold;
}

.main-title {
    background-image: url("./images/pattern.img");
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.sub-title-brush {
    background-color: mediumspringgreen;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.sub-title-frames {
    background-color: lightcoral;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.sub-title-paint {
    background-color: skyblue;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.price {
    color: blue;
    font-weight: bold;
}